<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socratweet</title>
</head>
<body style="background: darkgray;">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <h1>Socratweets</h1>
    <h2>Socrates says:</h2>
    <blockquote>{{ sentence }}</blockquote>
    <form action="/tweet" method="post">
      <input type="hidden" name="sentence" value="{{ sentence }}">
      <button type="submit">Tweet this</button>
    </form>
  </div>
</body>
</html>
